@model IEnumerable<CoffeeShop.Model.ProductModel>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        @Html.DropDownList("SelectedOffice", (IEnumerable<SelectListItem>)ViewBag.SelectedOffice, "Select Office", new { @class = "breadcrumb" })
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
    <p>
        <canvas id="myChart"></canvas>
    </p>

    <table class="table" id="tblProduct">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
            </tr>
        }
    </table>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            var id = $("#SelectedOffice").val();
            $.ajax({
                    type: "POST",
                url: "@Url.Action("GetProduct", "Product")" + "/" + id,
                    dataType: "json",
                    headers: { 'VerificationToken': $("#forgeryToken").val() }
                }).done(
                    function (data) {
                        var aData = data.data;
                        createProductChart(aData);
                    });

            function createProductChart(data) {
                var CoffeeBeans = data[0].Unit;
                var Sugar = data[1].Unit;
                var Milk = data[2].Unit;

                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: ["Coffee Beans", "Sugar", "Milk"],
                        datasets: [{
                            label: "Items",
                            backgroundColor: ["rgba(128, 128, 128, 1)", "rgba(222, 163, 104, 1)", "rgba(237, 236, 227, 1)"],
                            data: [CoffeeBeans, Sugar, Milk],
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            //yAxes: [{
                            //    barPercentage: 0.5
                            //}]
                        }
                    }
                });
            }
        });
    </script>
}