@model IEnumerable<CoffeeShop.Model.OrderItemModel>

@{
    ViewBag.Title = "OrderDrink";
}

<h2>Order Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <canvas id="myOrderChart"></canvas>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
            </tr>
        }

    </table>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetOrders", "Order")", 
                    dataType: "json",
                    headers: { 'VerificationToken': $("#forgeryToken").val() }
                }).done(
                    function (data,status) {
                        var aData = data.data;
                        createOrderChart(aData);
                    });

            function createOrderChart(data) {
                var DoubleAmericano = data[0] == undefined ? 0 : data[0].Count;
                var SweetLatte = data[1] == undefined ? 0 : data[1].Count;
                var FlatWhite = data[2] == undefined ? 0 : data[2].Count;

                var ctx = document.getElementById('myOrderChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: ["Double Americano", "Sweet Latte", "Flat White"],
                        datasets: [{
                            label: "Order Items",
                            backgroundColor: ["rgba(128, 128, 128, 1)", "rgba(222, 163, 104, 1)", "rgba(237, 236, 227, 1)"],
                            data: [DoubleAmericano, SweetLatte, FlatWhite],
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            //yAxes: [{
                            //    barPercentage: 0.5
                            //}]
                        }
                    }
                });
            }
        });
    </script>
}